<div class="upcoming-quotes-section">
  <mat-card
    *ngFor="let upcomingQuote of upcomingQuotes | slice : 0 : 4"
    class="card-section"
  >
    <div class="main-section">
      <div class="left-side">
        <img
          mat-card-image
          [src]="upcomingQuote.image"
          alt="Photo du véhicule"
        />
      </div>
      <div class="right-side">
        <mat-card-content>
          <p>
            <strong> ID Client : <br /></strong
            >{{ upcomingQuote.clientId }}
          </p>
          <p>
            <strong> Description: <br /></strong
            >{{ upcomingQuote.description }}
          </p></mat-card-content
        >
      </div>
    </div>
  </mat-card>
</div>
