<div class="container">
    <!-- Section principale -->
    <mat-card class="main-section">
      <mat-card-header>
        <mat-card-title>Estimations : </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="quote?.photoUrl" alt="Photo du véhicule">
      <mat-card-content>
        <p>{{ quote?.message }}</p>
        <mat-form-field>
          <input matInput placeholder="Estimation" [(ngModel)]="quote?.estimation">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="submitEstimation(quote?.estimation)">Envoyer l'estimation</button>
      </mat-card-actions>
    </mat-card>
  
    <!-- Section secondaire -->
    <div class="secondary-section">
      <mat-card *ngFor="let upcomingQuote of upcomingQuotes">
        <mat-card-header>
          <mat-card-title>{{ upcomingQuote.id }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="upcomingQuote.photoUrl" alt="Photo du véhicule">
        <mat-card-content>
          <p>{{ upcomingQuote.message }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>